<div class="profile-header">
  <h1>{{user.name}}</h1>
  <p>{{user.email}}</p>
</div>

<div class="profile-stats d-flex justify-content-center gap-4 mb-4">
  <div class="stat-card">
    <h3>{{postLikes}}</h3>
    <p>Likes on Posts</p>
  </div>
  <div class="stat-card">
    <h3>{{commentLikes}}</h3>
    <p>Likes on Comments</p>
  </div>
</div>

<div class="user-posts">
  {{#each posts}}
    {{> postCard post=this user=../user}}
  {{/each}}
</div>