<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="/">UsersConnect</a>

    <!-- Toggle for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item d-flex">
          <a class="nav-link d-flex align-items-center" href="/profile?postsPage=1">
            <img src="{{currentUser.avatarURL}}" alt="Avatar" class="navbar-avatar me-2" style="width:32px; height:32px; border-radius:50%;">
            <span class="navbar-username">{{currentUser.name}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/feed">
            <i class="fa-solid fa-house me-2"></i> Feed
          </a>
        </li>
        <!-- <li class="nav-item"> <a class="nav-link" href="/create">Create Post</a></li> -->
        {{#if currentUser.isAdmin}}
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/admin/users">
              <i class="fa-solid fa-user-shield me-2"></i> Admin Tools
            </a>
          </li>
        {{/if}}
        <li class="nav-item">
          <form action="/auth/logout" method="GET" class="d-inline">
            <button type="submit" class="btn btn-link nav-link d-flex align-items-center">
              <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
